@charset "UTF-8";
// ------------------------------------------------------------
// MIXINS
// ------------------------------------------------------------

// -------------------------
// Basics
// -------------------------

@mixin size($value) {
  $width: nth($value, 1);
  $height: $width;

  @if length($value) > 1 {
    $height: nth($value, 2);
  }

  width: $width;
  height: $height;
}

@mixin centerBlock() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin absolute {
  position: absolute;
  top: 0; right: 0; bottom: 0; left:0;
  margin: auto;
}

@mixin fixed {
  position: fixed;
  top: 0; right: 0; bottom: 0; left:0;
  margin: auto;
}

@mixin hidden {
  opacity: 0;
  visibility: hidden;
}

@mixin visible(){
  opacity: 1;
  visibility: visible;
}

@mixin unselectable {
  cursor: default;
  user-select: none;
}

@mixin clearfix() {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// -------------------------
// Buttons
// -------------------------

@mixin resetBtn() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &:not(input) { user-select: none; }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
